	body{
	
	background-color:white;
	
		}
	h1
	{
    
	font-family:"Arieal";
	font:color:#EFFBF8;
	color:#EFFBF8;
	font-size:20px;
	text-align:left;
	align:center;

	}

	#header
	{
	background-image:url(../images/exp-background1.jpg);
	background-color:#81BEF7;
	width:80%;
	align:center;
        background-repeat: no-repeat;
        background-size: cover;
		
	}

	#footer {
        poaition:absolute;
        bottom:0;
        width:80%;
        height:60px;   /* Height of the footer */
        background-image:url(../images/exp-background1.jpg);
        background-color:#81BEF7;
	font:color:#EFFBF8;
	align:center;
 	background-repeat: no-repeat;
        background-size: cover;
        }
	
	#content
	{
	height:480px;
	
	}
	
	#content-01 { 
    position:absolute;left:10%;width:33%;
   } 

   #content-02{ 
   position:absolute;left:33%;right:33%;
   } 
   #content-03{ 
   position:absolute;right:10%;width:33%;
   }
 
	a{
	float:center;
	font:color:#EFFBF8;
	font-family:"Areial";
	font-size:15;
	color:#EFFBF8;
	margin:0;
	
	}
	p{
	font:color:#EFFBF8;
	color:#EFFBF8;
	}
